main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--spacing);
  padding: var(--spacing);
  padding-top: calc(var(--spacing) * 4);
  overflow: hidden;
  overflow-y: auto;
}
