@import url('./root.css');
@import url('./fonts.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'DM Sans', sans-serif;
  font-size: var(--medium-font);
  font-weight: 700;
  color: var(--primary);
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  z-index: 1;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

html,
body {
  width: 100%;
  height: 100vw;
  background-color: var(--background);
  overflow: hidden;
}

svg {
  width: 24px;
  height: 24px;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
}
