@font-face {
  font-family: 'DM Sans';
  src: url('./../assets/fonts/DM_Sans/400.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./../assets/fonts/DM_Sans/500.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./../assets/fonts/DM_Sans/700.ttf');
  font-weight: 700;
  font-style: normal;
}